In [1]:
#原始的数据路径
OriginDataDir = '../Data/OriginData'
CleanDataDir = '../Data/CleanData'
TrainTestDataDir = '../Data/TrainTestData'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import os
from sklearn.preprocessing import PolynomialFeatures
%matplotlib inline

In [7]:
df_alltrain = pd.read_csv(os.path.join(TrainTestDataDir,'AllTrain.csv'),index_col=0)
df_alltrain_len = df_alltrain.shape[0]
df_alltrain_target = df_alltrain.TARGET
df_alltrain.drop('TARGET',inplace=True,axis=1)
df_test = pd.read_csv(os.path.join(TrainTestDataDir,'test.csv'),index_col=0)

In [8]:
df_train = df_alltrain.append(df_test)
df_train.reset_index(drop=True,inplace=True)

/home/guest/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [9]:
df_train.EXT_SOURCE_MIN.head()

AttributeError: 'DataFrame' object has no attribute 'EXT_SOURCE_MIN'

In [5]:
df_train.shape

(356255, 637)

## 1.EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH很重要，做polynomial

In [6]:
poly_trans = PolynomialFeatures(degree=3)

In [7]:
poly_feature = df_train[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','DAYS_BIRTH']]

In [8]:
poly_feature = poly_trans.fit_transform(poly_feature)

In [9]:
poly_feature.shape

(356255, 35)

In [10]:
poly_feature

array([[ 1.00000000e+00,  8.30369674e-02,  2.62948593e-01, ...,
        -1.83785678e+02,  1.24755987e+07, -8.46859039e+11],
       [ 1.00000000e+00,  3.11267311e-01,  6.22245775e-01, ...,
        -1.67650000e+04, -2.81065225e+08, -4.71205850e+12],
       [ 1.00000000e+00, -1.00000000e+00,  5.55912083e-01, ...,
        -1.01375679e+04,  2.64650402e+08, -6.90893871e+12],
       ...,
       [ 1.00000000e+00,  7.33503500e-01,  6.32769551e-01, ...,
        -1.28160051e+03,  7.19238232e+07, -4.03638756e+12],
       [ 1.00000000e+00,  3.73090081e-01,  4.45700983e-01, ...,
        -4.95260708e+03,  1.16176497e+08, -2.72522698e+12],
       [ 1.00000000e+00, -1.00000000e+00,  4.56540667e-01, ...,
        -1.03398023e+03,  5.30490449e+07, -2.72171659e+12]])

In [11]:
polyfeaturename = poly_trans.get_feature_names(input_features=['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','DAYS_BIRTH'])

In [12]:
df_poly = pd.DataFrame(columns=polyfeaturename,data=poly_feature)

In [13]:
df_poly.head()

,1,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,DAYS_BIRTH,EXT_SOURCE_1^2,EXT_SOURCE_1 EXT_SOURCE_2,EXT_SOURCE_1 EXT_SOURCE_3,EXT_SOURCE_1 DAYS_BIRTH,EXT_SOURCE_2^2,...,EXT_SOURCE_2^3,EXT_SOURCE_2^2 EXT_SOURCE_3,EXT_SOURCE_2^2 DAYS_BIRTH,EXT_SOURCE_2 EXT_SOURCE_3^2,EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH,EXT_SOURCE_2 DAYS_BIRTH^2,EXT_SOURCE_3^3,EXT_SOURCE_3^2 DAYS_BIRTH,EXT_SOURCE_3 DAYS_BIRTH^2,DAYS_BIRTH^3
0,1.0,0.083037,0.262949,0.139376,-9461.0,0.006895,0.021834,0.011573,-785.612748,0.069142,...,0.018181,0.009637,-654.152107,0.005108,-346.733022,2.353667e+07,0.002707,-183.785678,1.247560e+07,-8.468590e+11
1,1.0,0.311267,0.622246,-1.000000,-16765.0,0.096887,0.193685,-0.311267,-5218.396475,0.387190,...,0.240927,-0.387190,-6491.237078,0.622246,10431.950422,1.748916e+08,-1.000000,-16765.000000,-2.810652e+08,-4.712058e+12
2,1.0,-1.000000,0.555912,0.729567,-19046.0,1.000000,-0.555912,-0.729567,19046.000000,0.309038,...,0.171798,0.225464,-5885.942404,0.295894,-7724.580288,2.016572e+08,0.388325,-10137.567875,2.646504e+08,-6.908939e+12
3,1.0,-1.000000,0.650442,-1.000000,-19005.0,1.000000,-0.650442,1.000000,19005.000000,0.423074,...,0.275185,-0.423074,-8040.528832,0.650442,12361.644326,2.349331e+08,-1.000000,-19005.000000,-3.611900e+08,-6.864416e+12
4,1.0,-1.000000,0.322738,-1.000000,-19932.0,1.000000,-0.322738,1.000000,19932.000000,0.104160,...,0.033616,-0.104160,-2076.117157,0.322738,6432.819536,1.282190e+08,-1.000000,-19932.000000,-3.972846e+08,-7.918677e+12

In [14]:
df_poly.drop(['1','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','DAYS_BIRTH'],axis=1,inplace=True)

In [15]:
df_train = pd.concat([df_train,df_poly],axis=1)

In [16]:
df_train.shape

(356255, 667)

## 2.把Flag_Document2-21记起来做一个特征

In [28]:
df_train.filter(regex='FLAG_DOCUMENT*').head()

,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
df_train['FLAG_DOCUMENT_SUM'] = df_train.filter(regex='FLAG_DOCUMENT*').sum(axis=1)

In [30]:
df_train['FLAG_DOCUMENT_SUM'].head()

0    1
1    1
2    0
3    1
4    1
Name: FLAG_DOCUMENT_SUM, dtype: int64

## 3. 做一些相除的组合特征

In [31]:
df_train['CREDIT_INCOME_PERCENT'] = df_train['AMT_CREDIT']/(df_train['AMT_INCOME_TOTAL']+1e-08)
df_train['ANNUITY_INCOME_PERCENT'] = df_train['AMT_ANNUITY']/(df_train['AMT_INCOME_TOTAL']+1e-08)
df_train['CREDIT_TERM'] = df_train['AMT_ANNUITY']/(df_train['AMT_CREDIT']+1e-08)
df_train['DAYS_EMPLOYED_PERCENT'] = df_train['DAYS_EMPLOYED']/(df_train['DAYS_BIRTH']+1e-08)

In [33]:
df_train.shape

(356255, 624)

In [34]:
df_train['AMT_INCOME_perChild'] = df_train['AMT_INCOME_TOTAL']/(df_train['CNT_CHILDREN']+1)
df_train['AMT_INCOME_perDay'] = df_train['AMT_INCOME_TOTAL']/(df_train['DAYS_BIRTH']+1e-08)
df_train['DAYS_EMPLOYED_percent'] = df_train['DAYS_EMPLOYED']/(df_train['DAYS_EMPLOYED']+1e-08)
df_train['OWN_CAR_perDay'] = df_train['OWN_CAR_AGE']/(df_train['DAYS_BIRTH']+1e-08)
df_train['GOODS_INCOME'] = df_train['AMT_GOODS_PRICE'] / (df_train['AMT_INCOME_TOTAL']+1e-08)
df_train['DAY_PHONE_DECISION'] = df_train['DAYS_LAST_PHONE_CHANGE'] / (df_train['DAYS_DECISION_mean']+1e-08)
df_train['INCOME_POPULATION_PERCENT'] = df_train['AMT_INCOME_TOTAL'] / (df_train['REGION_POPULATION_RELATIVE']+1e-08)

In [35]:
df_train['MEAN_CACULATE'] = df_train['AMT_INCOME_TOTAL'] - \
df_train['AMT_DRAWINGS_CURRENT_mean_mean'] - df_train['AMT_CREDIT_mean']- df_train['AMT_CREDIT_SUM_DEBT_mean']

In [36]:
df_train['MEAN_CACULATE_x'] = (df_train['AMT_DRAWINGS_CURRENT_mean_mean'] + df_train['AMT_CREDIT_mean']+ df_train['AMT_CREDIT_SUM_DEBT_mean'])/(df_train['AMT_INCOME_TOTAL']+1e-08)

## 4.网上看到的一些重要的特征

In [37]:
df_train['NEW_CREDIT_ANNUITY_RATIO'] = df_train['AMT_CREDIT_mean']/(df_train['AMT_ANNUITY']+1e-08)
df_train['NEW_CREDIT_GOODS_RATIO'] = df_train['AMT_CREDIT_mean']/(df_train['AMT_GOODS_PRICE']+1e-08)
df_train['NEW_ANNUITY_INCOME_RATIO'] = df_train['AMT_ANNUITY']/(df_train['AMT_INCOME_TOTAL']+1e-08)
df_train['NEW_PHONE_TO_BIRTH'] = df_train['DAYS_LAST_PHONE_CHANGE']/(df_train['DAYS_BIRTH']+1e-08)

In [38]:
df_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,OWN_CAR_perDay,GOODS_INCOME,DAY_PHONE_DECISION,INCOME_POPULATION_PERCENT,MEAN_CACULATE,MEAN_CACULATE_x,NEW_CREDIT_ANNUITY_RATIO,NEW_CREDIT_GOODS_RATIO,NEW_ANNUITY_INCOME_RATIO,NEW_PHONE_TO_BIRTH
0,100002,1,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0.000106,1.733333,1.871287,1.077070e+07,-25710.200000,1.126964,7.249044,0.510128,0.121978,0.119860
1,100003,1,1,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0.000060,4.183333,0.634483,7.624943e+07,-214190.000000,1.793296,13.563343,0.428677,0.132217,0.049389
2,100004,0,0,1,1,0,67500.0,135000.0,6750.0,135000.0,...,-0.001365,2.000000,1.000000,6.728462e+06,47395.000000,0.297852,2.978667,0.148933,0.100000,0.042791
3,100006,1,1,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0.000053,2.200000,2.264682,1.683500e+07,-318329.625335,3.357997,9.825864,0.982140,0.219900,0.032465
4,100007,1,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0.000050,4.222222,0.904457,4.238913e+06,-45137.750000,1.371504,7.621081,0.324832,0.179963,0.055489

## 划分训练集和测试集

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
df_test = df_train.iloc[df_alltrain_len:,:]
df_test.reset_index(drop=True,inplace=True)

In [19]:
df_train = df_train.iloc[:df_alltrain_len,:]

In [20]:
df_train = df_train.sample(frac=1)
df_train.reset_index(drop=True,inplace=True)

In [21]:
df_train.shape

(307511, 667)

In [22]:
df_test.head()

,AMT_ANNUITY,AMT_ANNUITY_max_prevapp,AMT_ANNUITY_max_traintest,AMT_ANNUITY_mean_prevapp,AMT_ANNUITY_mean_traintest,AMT_ANNUITY_min_prevapp,AMT_ANNUITY_min_traintest,AMT_APPLICATION_max,AMT_APPLICATION_mean,AMT_APPLICATION_min,...,EXT_SOURCE_2^3,EXT_SOURCE_2^2 EXT_SOURCE_3,EXT_SOURCE_2^2 DAYS_BIRTH,EXT_SOURCE_2 EXT_SOURCE_3^2,EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH,EXT_SOURCE_2 DAYS_BIRTH^2,EXT_SOURCE_3^3,EXT_SOURCE_3^2 DAYS_BIRTH,EXT_SOURCE_3 DAYS_BIRTH^2,DAYS_BIRTH^3
0,20560.5,3951.000,10822.500000,3951.000,3545.357143,3951.000,0.000000,24835.5,24835.50,24835.5,...,0.492392,0.099469,-11997.802403,0.020094,-2423.698322,2.923427e+08,0.004059,-489.615795,5.905670e+07,-7.123328e+12
1,17370.0,4813.200,4261.500000,4813.200,1420.500000,4813.200,0.000000,44617.5,22308.75,0.0,...,0.024809,0.036829,-1536.577117,0.054673,-2281.043619,9.516956e+07,0.081161,-3386.201665,1.412789e+08,-5.894429e+12
2,69777.0,23153.985,0.000000,11478.195,0.000000,4742.415,0.000000,450000.0,130871.25,0.0,...,0.342687,0.299203,-9812.640816,0.261238,-8567.521115,2.809794e+08,0.228089,-7480.393855,2.453261e+08,-8.045687e+12
3,49018.5,11250.000,12897.090000,8091.585,3012.010714,6028.020,0.000000,130765.5,49207.50,0.0,...,0.132399,0.159163,-3630.555667,0.191336,-4364.443591,9.955450e+07,0.230013,-5246.681115,1.196786e+08,-2.729912e+12
4,32067.0,24463.710,15029.374538,17782.155,6033.406480,11100.600,2412.112357,454500.0,267727.50,80955.0,...,0.077139,-0.181210,-2362.974127,0.425687,5550.962315,7.238455e+07,-1.000000,-13040.000000,-1.700416e+08,-2.217342e+12

In [24]:
colwithoutTARGET = df_train.columns.tolist()
colwithTARGET = colwithoutTARGET[:]
colwithTARGET.append('TARGET')

In [25]:
print(len(colwithoutTARGET))
print(len(colwithTARGET))

667
668

In [27]:
# 划分训练集和验证集
X_train, X_val, y_train, y_val = train_test_split(df_train[colwithoutTARGET].values
                                                  ,df_alltrain_target, test_size=0.3,random_state=921)

In [28]:
# 划分训练集和验证集
df_train_csv = pd.DataFrame(data=np.hstack([X_train,np.atleast_2d(y_train).T]),columns=colwithTARGET)
df_val_csv = pd.DataFrame(data=np.hstack([X_val,np.atleast_2d(y_val).T]),columns=colwithTARGET)

In [29]:
df_train_csv.head()

,AMT_ANNUITY,AMT_ANNUITY_max_prevapp,AMT_ANNUITY_max_traintest,AMT_ANNUITY_mean_prevapp,AMT_ANNUITY_mean_traintest,AMT_ANNUITY_min_prevapp,AMT_ANNUITY_min_traintest,AMT_APPLICATION_max,AMT_APPLICATION_mean,AMT_APPLICATION_min,...,EXT_SOURCE_2^2 EXT_SOURCE_3,EXT_SOURCE_2^2 DAYS_BIRTH,EXT_SOURCE_2 EXT_SOURCE_3^2,EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH,EXT_SOURCE_2 DAYS_BIRTH^2,EXT_SOURCE_3^3,EXT_SOURCE_3^2 DAYS_BIRTH,EXT_SOURCE_3 DAYS_BIRTH^2,DAYS_BIRTH^3,TARGET
0,66942.0,16875.000000,195088.500000,14115.262500,65138.62500,11250.000000,0.000000,225000.000000,60987.272727,0.000000,...,0.059426,-2207.002542,0.060799,-2257.966397,8.385748e+07,0.062202,-2310.107104,8.579391e+07,-3.186257e+12,0.0
1,23593.5,23933.522707,-1.000000,14658.427165,-1.00000,7924.888317,-1.000000,377547.305875,154468.279029,44055.006413,...,0.238816,-7476.470411,0.134983,-4225.848788,1.322962e+08,0.076295,-2388.533224,7.477641e+07,-2.340982e+12,0.0
2,58167.0,23933.522707,18261.000000,14658.427165,18261.00000,7924.888317,18261.000000,377547.305875,154468.279029,44055.006413,...,0.297008,-5944.597033,0.239465,-4792.862662,9.592872e+07,0.193070,-3864.270760,7.734303e+07,-1.548014e+12,0.0
3,9000.0,18315.945000,-1.000000,11147.332500,-1.00000,3562.785000,-1.000000,454500.000000,139479.570000,0.000000,...,0.242522,-5026.487352,0.313116,-6489.614337,1.345033e+08,0.404258,-8378.633285,1.736550e+08,-3.599162e+12,0.0
4,30280.5,32854.815000,15029.374538,32854.815000,6033.40648,32854.815000,2412.112357,173380.500000,173380.500000,173380.500000,...,-0.412846,-8730.033774,0.642531,13586.953087,2.873097e+08,-1.000000,-21146.000000,-4.471533e+08,-9.455504e+12,0.0

In [30]:
df_val_csv.shape

(92254, 668)

In [31]:
#保存数据
df_train_csv.to_csv(os.path.join(TrainTestDataDir,'train.csv'))
df_val_csv.to_csv(os.path.join(TrainTestDataDir,'validation.csv'))
df_test.to_csv(os.path.join(TrainTestDataDir,'test.csv'))